<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843603006026-7c2c971au2k5rujna5ieb90r9bafq1ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843603006026-7c2c971au2k5rujna5ieb90r9bafq1ci</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-pTB9SeOmJOwregj8q1aoa6ojjPd1Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>843603006026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronniejoubert.SocialComponents</string>
	<key>PROJECT_ID</key>
	<string>social-components-d3c32</string>
	<key>STORAGE_BUCKET</key>
	<string>social-components-d3c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843603006026:ios:ba71f7b36ae257fe2a4cb3</string>
</dict>
</plist>